# Database Configuration
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=domains
DATABASE_URL=postgresql://user:password@db:5432/domains

# API Configuration
API_BASE_URL=http://api:5000
GRPC_SERVER_ADDRESS=grpc-server:50051

# Application Configuration
APP_ENV=development
LOG_LEVEL=debug

# File storage
UPLOAD_FOLDER=/app/files
METADATA_FILE=/app/metadata.json